[project]
name = "rapida"
version = "0.0.1"
description = "python tools that facilitate the assessment of natural hazards over various domains like population, landuse, infrastructure, etc"
requires-python = ">=3.12"
authors = [
    { name = 'Ioan Ferencik'},
    { name = 'Joseph Thuha'},
    { name = 'Jin Igarashi'},
    { name = "United Nations Development Programme", email = "data@undp.org" }
]
readme = "README.md"
dependencies = [
    "httpx",
    "osm2geojson",
    "shapely",
    "h3",
    "tqdm",
    "GDAL == 3.10.0",
    "azure-storage-blob",
    "overturemaps",
    "async",
    "aiofiles",
    "aiohttp",
    "azure-storage-file-share",
    "asyncclick",
    "rio-cogeo",
    "exactextract",
    "pycountry",
    "click",
    "pyarrow",
    "azure-core",
    "rasterio",
    "geopandas",
    "azure-identity",
    "rich",
    "morecantile",
    "mapbox_vector_tile",
    "aiopmtiles @ git+https://github.com/developmentseed/aiopmtiles",
    "sympy",
    "pydantic",
    "pmtiles",
    "msal",
    "playwright",
    "pystac_client",
    "requests-oauthlib",
    "fiona",
    "nest_asyncio",
    "tensorflow",
    "psutil"
]

[project.optional-dependencies]
# dependencies required for development
dev = [
    "pytest"
]

[project.scripts]
rapida = "rapida.cli:cli"

[project.urls]
Homepage = "https://github.com/UNDP-Data/rapida"
Documentation = "https://github.com/UNDP-Data/rapida"
Repository = "https://github.com:UNDP-Data/rapida.git"
Issues = "https://github.com/UNDP-Data/rapida/issues"
#Changelog = "https://github.com/UNDP-Data/rapida/blob/master/CHANGELOG.md"

[tool.hatch.build.targets.wheel]
packages = ["rapida"]

[tool.hatch.build.targets.sdist]
exclude = [
    ".devcontainer",
    ".github",
    ".dockerignore",
    "docker-compose.yml",
    "Dockerfile",
    ".gitignore",
    ".pre-commit-config.yaml",
    "tests",
    "Makefile"
]

[tool.hatch.metadata]
allow-direct-references = true

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

#[tool.hatchling.dependencies]
#GDAL = ">=3.6.0, <4.0.0"  # Specify the GDAL version range
