httpx~=0.28.1
osm2geojson~=0.2.5
shapely~=2.0.6
h3~=4.1.2
tqdm~=4.67.1
GDAL==3.10.0
azure-storage-blob
overturemaps~=0.11.0
async
aiofiles~=24.1.0
aiohttp
azure-storage-blob
asyncclick~=8.1.7.2
rio-cogeo

pycountry~=24.6.1
click~=8.1.7
pyarrow~=18.1.0
azure-core~=1.32.0
rasterio~=1.4.2